<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family = Roboto: ital, wght @ 0,100; 0,500; 0,700; 1,300 & display = swap " rel=" stylesheet ">

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/welcome">Portfolio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/welcome">Home</a>
              <a class="nav-link" href="#">My projects</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>

      <%= yield %>



      <footer class="footer">
        <div class="container">
          <ul class="social_media">
            <li><a class="github list-inline-item" href="#">github</a></li>
            <li><a class="linkedin list-inline-item" href="#">linkedin</a></li>
            <li><a class="twitter list-inline-item" href="#">twitter</a></li>
          </ul>
          <p class="float-end left">
            © 2021 Ihor
          </p>
        </div>
      </footer>
    </main>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>